@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuti in Piada da Lule</h1>
    <p>Acquista da noi le piade più fenomenali dell'universo!</p>
</div>
